# Bw temp files
*.bw.c
*.tree
*.tok

# Generated documentation
docs/site
docs/.cache

# Sublime Text
*.sublime-workspace

# Python
__pycache__
_testenv

# Rust
target
!/bootstrap/bwz/src/target
Cargo.lock