$darkblue: #15405b;
$lightyellow: #ffffcf;
$lightgrey: #f8f8f8;
$darkgrey: #333333;
$lightblue: #15405b;
$blue: #3080b6;

/* GENERIC STYLES */

:root {
	scroll-padding-top: 70px;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: 'Fira Sans', sans-serif;
	font-size: 12pt;
	background-color: white;
	color: black;
}

p, li {
	line-height: 150%;
}

a {
	color: $blue;
	text-decoration: none;

	&[href]:hover {
		text-decoration: underline;
	}
}

code, pre {
	padding: 0 4px;

	background-color: #eee;
	color: $darkgrey;
	font-family: 'Fira Mono', monospace;
}

pre {
	padding: 4px 10px; 
	
	border: 1px solid #aaa;

	code {
		padding: 0;
		border: none;
	} 
}

div.highlight {
	.filename {
		margin-bottom: 0;
		padding: 4px 10px;
		display: block;

		border: 1px solid #aaa;
		border-bottom-style: none;
		font-style: italic;
		background-color: #d4d4d4;
	}

	pre {
		margin-top: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	position: relative;

	color: $darkblue;
	font-family: "Fira Sans", sans-serif;

	&:hover .headerlink {
		opacity: 1;
	}
}

.headerlink {
	display: block;
	position: absolute;
	left: -1.5ch;
	bottom: 0;
	width: 1.5ch;
	opacity: 0;
	color: grey;

	&[href]:hover {
		color: $darkblue;
		text-decoration: none;
	}
}

h1 {
	margin: 30pt 0 30pt 0;

	text-align: center;
	font-size: 24pt;
	font-weight: bold;

	.headerlink {
		display: none;
	}
}

h2 {
	margin: 30pt 0 10pt 0;
	
	font-size: 20pt;
	font-weight: bold;
}

h3 {
	margin: 20pt 0 8pt 0;
	
	font-size: 16pt;
	font-weight: bold;
}

h4 {
	margin: 10pt 0 6pt 0;
	
	font-size: 14pt;
	font-weight: bold;
}

h5 {
	margin: 8pt 0 6pt 0;
	
	font-size: 12pt;
	font-weight: bold;
}

h6 {
	margin: 6pt 0 6pt 0;
	
	font-size: 12pt;
	font-weight: normal;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #aaa;
	padding: 6px;
}

tr:nth-child(2n) {
	background-color: #eee;
}

th {
	background-color: #d4d4d4;
}

/* SYNTAX HIGHLIGHTING */

code {
	.k  { color: #85a;   }
	.nf { color: cyan;   }
	.kt { color: blue;   font-style: italic; }
	.nb { color: blue;   }
	.o  { color: #e62;   }
	.mi { color: yellow; }
	.kc { color: red;    font-style: italic; }
	.s, { color: #591;   }
	.s2 { color: #591;   }
	.c  { color: #777;   }
}

/* ADMONITIONS */

@mixin admonition-style($fg, $bg, $image) {
	border-color: $bg;
	background-color: $bg;

	.admonition-title {
		background-color: $fg;
		background-image: url("admonition-icons/#{$image}.svg");
	}
}

.admonition {
	margin: 10px;

	background-color: #eee;
	border-bottom: solid #eee 1px;

	p {
		margin-left: 10px;
		margin-right: 10px;
	}

	.admonition-title {
		margin: 0;
		padding: 5px 5px 5px 2em;

		font-weight: bold;
		color: $lightgrey;
		background-color: #aaa;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&.inline {
		display: flex;
		flex-direction: row;

		p {
			margin: 0;
			padding: 5px 1em;
		}

		.admonition-title {
			padding-left: 2em;
		}
	}

	&.warning { @include admonition-style(#e90, #ffedcc, "warning"); }

	&.note { @include admonition-style(#6ae, #e7f2fa, "note"); }
}


/* PAGE STRUCTURE */

@mixin header-footer ($height, $color) {
	height: $height;
	display: flex;
	flex-direction: row;
	align-items: center;

	font-family: 'Fira Sans', sans-serif;

	@if $color {
		background-color: $darkblue;
	}
	@else {
		background-color: white;
	}

	a {
		color: inherit;
	}
}

header {
	height: 100px;
	position: sticky;
	top: -50px;
	z-index: 1;

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		height: 100px;
		width: 100px;
	}

	.top {
		@include header-footer(50px, true);

		padding-left: 100px;
		overflow: hidden;

		a {
			color: $lightyellow;
			font-family: 'Mulish', sans-serif;
			font-size: 35px;
			text-decoration: none;

			&:hover {
				text-decoration: none;				
			}
		}
	}

	.bottom {
		@include header-footer(50px, false);

		padding-right: 20px;
		justify-content: flex-end;

		font-size: 12pt;
		color: $darkblue;
		border-bottom: 2px solid $darkblue;

		> * {
			padding: 10px 20px;
		}
	}
}

main {
	flex-grow: 1;
	width: calc(100% - 40px);
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

footer {
	@include header-footer(40px, true);

	padding: 0 20px;
	margin-top: 40px;

	color: $lightgrey;
	font-size: 12pt;

	> * {
		margin: 0 20px;
	}

	@media screen and (max-width: 600px) {
		flex-direction: column;
		height: 80px;
		justify-content: space-around;
	}
}

nav {
	margin-top: 20px;
}

.toctitle {
	@extend h3;

	display: block;
	margin-left: 20px;
}


.toc ul {
	list-style: none;
	padding-left: 25px;
	margin: 0;
}