$darkblue: #15405b;
$lightyellow: #ffffcf;
$lightgrey: #f8f8f8;
$darkgrey: #333333;
$lightblue: #15405b;

/* GENERIC STYLES */

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: 'Fira Sans', sans-serif;
	font-size: 12pt;
	background-color: white;
	color: black;

	@media screen and (prefers-color-scheme: dark) {
		background-color: $darkgrey;
		color: $lightgrey;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@mixin h {
	color: $darkblue;

	@media screen and (prefers-color-scheme: dark) {
		color: $lightyellow;
	}
}

h1 {
	@include h;
	
	margin: 30pt 0 30pt 0;

	text-align: center;
	font-size: 24pt;
	font-weight: bold;
}

h2 {
	@include h;

	margin: 30pt 0 10pt 0;
	
	font-size: 20pt;
	font-weight: bold;
}

h3 {
	@include h;

	margin: 20pt 0 8pt 0;
	
	font-size: 16pt;
	font-weight: bold;
}

h4 {
	@include h;

	margin: 10pt 0 6pt 0;
	
	font-size: 14pt;
	font-weight: bold;
}

h5 {
	@include h;

	margin: 8pt 0 6pt 0;
	
	font-size: 12pt;
	font-weight: bold;
}

h6 {
	@include h;

	margin: 6pt 0 6pt 0;
	
	font-size: 12pt;
	font-weight: normal;
}

/* ADMONITIONS */

@mixin admonition-color($color) {
	border-color: $color;

	.admonition-title {
		background-color: $color;
	}
}

.admonition {
	margin: 10px;

	border: 2px solid #aaa;

	p {
		margin-left: 10px;
		margin-right: 10px;
	}

	.admonition-title {
		margin: 0;
		padding: 5px;

		font-weight: bold;
		color: $darkgrey;
		background-color: #aaa;
	}

	&.warning { @include admonition-color(#ea2); }
}


/* PAGE STRUCTURE */

@mixin header-footer ($height, $color) {
	height: $height;
	display: flex;
	flex-direction: row;
	align-items: center;

	@if $color {
		background-color: $darkblue;
	}
	@else {
		background-color: white;
	}

	@media screen and (prefers-color-scheme: dark) {
		@if $color {
			background-color: $lightyellow;
		}
		@else {
			background-color: $darkgrey;
		}
	}
}

header {
	height: 100px;
	position: sticky;
	top: -50px;

	.logo {
		position: absolute;
		top: 0;
		left: 0;
		height: 100px;
		width: 100px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.top {
		@include header-footer(50px, true);

		padding-left: 100px;
		overflow: hidden;

		a {
			color: $lightyellow;
			font-family: 'Mulish', sans-serif;
			font-size: 35px;
			text-decoration: none;

			@media screen and (prefers-color-scheme: dark) {
				color: $darkblue;
			}
		}
	}

	.bottom {
		@include header-footer(50px, false);

		padding-right: 20px;
		justify-content: flex-end;

		font-size: 12pt;
		color: $darkblue;
		border-bottom: 2px solid $darkblue;

		@media screen and (prefers-color-scheme: dark) {
			color: $lightyellow;
			border-bottom-color: $lightyellow;
		}

		> * {
			padding: 10px 20px;
		}
	}
}

main {
	flex-grow: 1;
	width: calc(100% - 40px);
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

footer {
	@include header-footer(40px, true);

	padding: 0 20px;
	margin-top: 40px;

	color: $lightgrey;
	font-size: 12pt;

	@media screen and (prefers-color-scheme: dark) {
		color: black;
	}

	> * {
		margin: 0 20px;
	}

	@media screen and (max-width: 600px) {
		flex-direction: column;
		height: 80px;
		justify-content: space-around;
	}
}