div.syntax-definition {
	font-family: Fira Mono, Cascadia Mono, Segoe UI Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
}

div.syntax-definition em {
	color: #6ab0de;
	font-style: normal;
}